{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

<section class="articles">

	<h2>{{ spoil.manga.name }}</h2>

	 <figure>
	 	<div class="bloc-image">
	     	<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}" alt="Naruto">
	     </div>
        <figcaption><h3>{{ spoil.title }}</h3></figcaption>
     </figure>
     <div class="infos-spoiler">
    	<p data-icon="8">Par <a href="{{ urlBase }}profile/{{ spoil.author.username }}">{{ spoil.author.username }}</a> <span>- le {{ spoil.date|date("d/m/Y") }}</span></p>
     </div>
     <div class="boutons-avis">
     	<ul>
     		<li>Spoil <span>{{ spoil.nbSpoil }}</span></li>
            <li>Fail <span>{{ spoil.nbFail }}</span></li>
            <li>Fake <span>{{ spoil.nbFake }}</span></li>
        </ul>    
     </div>	


	<p data-icon="x" class="nb-commentaire">{{ spoil.nbComments }} commentaires</p>

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

		{#        AJOUTER UN COMMENTAIRE        #}

		<div class="ajout-commentaire">
			<a href="{{ urlBase }}profile/{{ app.user.username }}" class="avatar">
				<img src="	{% if app.user.cover is not empty %}
								{{ asset('_assets/imgs/users/' ~ app.user.cover) }}
							{% else %}								
								{{ asset('_assets/imgs/users/profil-default.jpg') }}
							{% endif %}" alt="Profil de {{ app.user.username }}"/>
			</a>

			<textarea placeholder="Ecrire un commentaire"></textarea>
		
			<input type="submit" value="Envoyer"></input>
		</div>

		<div style="clear: both;"></div>

	{% else %} {#        CONNEXION        #}

		<p>Connectez-vous pour pouvoir poster un commentaire.</p>

		<form class="connexion-comm">
			<ul>
				<li>
				    <label for="username"><i data-icon="7"></i></label>
				    <input type="text" id="username" name="_username" required="required"  placeholder="Pseudo" size="30" />
			    </li>
				<li>
				    <label for="password"><i data-icon="r"></i></label>
				    <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" size="30" />
			    </li>
				<li>
			    	<input type="submit" id="_submit" name="_submit"/>
			    </li>
				
				<p class="connexion-error">Erreur connexion</p>
				
		    </ul>
		</form>

	{% endif %}

	<div class="commentaires">

		<ul> {#        COMMENTAIRE 1        #}

			{% for comment_lvl1 in comments if comment_lvl1.parent is null %}
				<li class="comment1"> 
					<a href="{{ urlBase }}profile/{{ comment_lvl1.author.username }}" class="avatar">
						<img src="	{% if comment_lvl1.author.cover is not empty %}
										{{ asset('_assets/imgs/users/' ~ comment_lvl1.author.cover) }}
									{% else %}
										{{ asset('_assets/imgs/users/profil-default.jpg') }}
									{% endif %}" alt="Profil de {{ comment_lvl1.author.username }} "/>
					</a>
					
					<div class="comm-right">
						<div class="infos-comm">
							<a href="{{ urlBase }}profile/{{ comment_lvl1.author.username }}">{{ comment_lvl1.author.username }}</a>
							<p class="date-comm">{{ comment_lvl1.date|date("d/m/Y H:i:s") }}</p>
						</div>

						<p class="text-comm">
							{% if comment_lvl1.nbLike > -10 %}
								{{ comment_lvl1.text }}
							{% else %}
								Commentaire modéré
							{% endif %}</p>

						<div class="react-users">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<a class="respond-btn show-respond">Répondre</a>
							{% else %}
							<a href="#modal-one" class="respond-btn">Répondre</a>
							{% endif %}
							<div class="users-like">
								<a href="" class="like" data-icon="z"></a>
								<a href="" class="dislike" data-icon="u"></a>
							</div>
							<p class="nb-like">{{ comment_lvl1.nbLike }} likes</p>
						</div>
					</div>

					<div style="clear: both;"></div>

					

				</li>

				<ul> {#        COMMENTAIRE 2        #}

					{% for comment_lvl2 in comments if comment_lvl2.parent is not null and comment_lvl2.parent.id == comment_lvl1.id %}
						<li class="comment2">
							<a href="{{ urlBase }}profile/{{ comment_lvl2.author.username }}" class="avatar avatar2">
								<img src="	{% if comment_lvl2.author.cover is not empty %}
												{{ asset('_assets/imgs/users/' ~ comment_lvl2.author.cover) }}
											{% else %}
												{{ asset('_assets/imgs/users/profil-default.jpg') }}
											{% endif %}" alt="Profil de {{ comment_lvl2.author.username }} "/>
							</a>

							<div class="comm-right">
								<div class="infos-comm">
									<a href="{{ urlBase }}profile/{{ comment_lvl2.author.username }}">{{ comment_lvl2.author.username }}</a>
									<p class="date-comm">{{ comment_lvl1.date|date("d/m/Y H:i:s") }}</p>
								</div>

								<p class="text-comm">
									{% if comment_lvl2.nbLike > -10 %}
										{{ comment_lvl2.text }}
									{% else %}
										<span class="comm-modere">Commentaire modéré</span>
									{% endif %}
								</p>

									<div class="react-users">
										<div class="users-like">
											<a href="#" class="like" data-icon="z"></a>
											<a href="#" class="dislike" data-icon="u"></a>
										</div>
										<p class="nb-like">{{ comment_lvl2.nbLike }} likes</p>
									</div>
							</div> <!-- End comm-right -->

							
						</li>
						<div style="clear: both;"></div>
					{% endfor %}

				</ul>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li>
					<div class="ajout-commentaire respond-comm">
						<a href="{{ urlBase }}profile/{{ app.user.username }}" class="avatar">
							<img src="	{% if app.user.cover is not empty %}
											{{ asset('_assets/imgs/users/' ~ app.user.cover) }}
										{% else %}								
											{{ asset('_assets/imgs/users/profil-default.jpg') }}
										{% endif %}" alt="Profil de {{ app.user.username }}"/>
						</a>

						<textarea placeholder="Ecrire un commentaire"></textarea>
					
						<input type="submit" value="Envoyer"></input>
					</div>

					<div style="clear: both;"></div>
				</li>
				{% else %}
					
				{% endif %}
			{% endfor %}
		</ul>
	</div>


</section>

<script src="{{ asset('_assets/js/respond-com.js') }}"></script>



	{#<table>
		<tr>
			<th>Id</th>
			<th>Id / nom / catégorie manga</th>
			<th>Id / pseudo auteur</th>
			<th>Titre</th>
			<th>Slug</th>
			<th>Url image</th>
			<th>Date et heure</th>
			<th>Nombre de commentaires</th>
			<th>Nombre de spoils</th>
			<th>Nombre de fails</th>
			<th>Nombre de fakes</th>
			<th>Publié</th>
		</tr>
		<tr>
			<td>{{ spoil.id }}</td>
			<td>{{ spoil.manga.id }} / {{ spoil.manga.name }} / {{ spoil.manga.category.name }}</td>
			<td>{{ spoil.author.id }} / {{ spoil.author.username }}</td>
			<td>{{ spoil.title }}</td>
			<td>{{ spoil.slug }}</td>
			<td>
				{% if spoil.cover is not empty %}
					placeholder.jpg
				{% else %}
					{{ spoil.cover }}
				{% endif %}
			</td>
			<td>{{ spoil.date|date("Y/m/d H:i:s") }}</td>
			<td>{{ spoil.nbComments }}</td>
			<td>{{ spoil.nbSpoil }}</td>
			<td>{{ spoil.nbFail }}</td>
			<td>{{ spoil.nbFake }}</td>
			<td>
				{% if spoil.isPublished == true %}
					Oui
				{% else %}
					Non
				{% endif %}
			</td>
		</tr>
	</table>

	<h1>Commentaires</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Id / pseudo auteur</th>
			<th>Date et heure</th>
			<th>Commentaire</th>
			<th>Nombre de likes</th>
		</tr>
		{% for comment_lvl1 in comments if comment_lvl1.parent is null %}
			<tr>
				<td>{{ comment_lvl1.id }}</td>
				<td>{{ comment_lvl1.author.id }} / {{ comment_lvl1.author.username }}</td>
				<td>{{ comment_lvl1.date|date("Y/m/d H:i:s") }}</td>
				<td>
					{% if comment_lvl1.nbLike > -10 %}
						{{ comment_lvl1.text }}
					{% else %}
						Commentaire modéré
					{% endif %}
				</td>
				<td>{{ comment_lvl1.nbLike }}</td>
			</tr>

			{% for comment_lvl2 in comments if comment_lvl2.parent is not null and comment_lvl2.parent.id == comment_lvl1.id %}
				<tr>
					<td>{{ comment_lvl2.id }}</td>
					<td>{{ comment_lvl2.author.id }} / {{ comment_lvl2.author.username }}</td>
					<td>{{ comment_lvl2.date|date("Y/m/d H:i:s") }}</td>
					<td>
						{% if comment_lvl2.nbLike > -10 %}
							{{ comment_lvl2.text }}
						{% else %}
							Commentaire modéré
						{% endif %}
					</td>
					<td>{{ comment_lvl2.nbLike }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table> #}

{% endblock %}