{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

	<h1>Spoil</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Id / nom / catégorie manga</th>
			<th>Id / pseudo auteur</th>
			<th>Titre</th>
			<th>Slug</th>
			<th>Url image</th>
			<th>Date et heure</th>
			<th>Nombre de commentaires</th>
			<th>Nombre de spoils</th>
			<th>Nombre de fails</th>
			<th>Nombre de fakes</th>
			<th>Publié</th>
		</tr>
		<tr>
			<td>{{ spoil.id }}</td>
			<td>{{ spoil.manga.id }} / {{ spoil.manga.name }} / {{ spoil.manga.category.name }}</td>
			<td>{{ spoil.author.id }} / {{ spoil.author.pseudo }}</td>
			<td>{{ spoil.title }}</td>
			<td>{{ spoil.slug }}</td>
			<td>
				{% if spoil.cover is not empty %}
					{{ spoil.cover }}
				{% else %}
					placeholder.jpg
				{% endif %}
			</td>
			<td>{{ spoil.date|date("Y/m/d H:i:s") }}</td>
			<td>{{ spoil.nbComments }}</td>
			<td>{{ spoil.nbSpoil }}</td>
			<td>{{ spoil.nbFail }}</td>
			<td>{{ spoil.nbFake }}</td>
			<td>
				{% if spoil.isPublished == true %}
					Oui
				{% else %}
					Non
				{% endif %}
			</td>
		</tr>
	</table>

	<button id="refresh">RAFRAICHIR</button>
	<script type="text/javascript">
		$(function(){
			$('#refresh').click(function(){
				location.reload();
			});
		});
	</script>

{% endblock %}