{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

	<!-- <h1>Spoil</h1> -->





     
   <section classe="home">

   	 <p>Connectez-vous ou inscrivez-vous pour poster un spoil !</p>
     <figure>
     	<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}" alt="Naruto">
        <figcaption><h2>{{ spoil.title }}</h2><h4>{{ spoil.manga.name }}</h4></figcaption>
     </figure>
     <div class="infos-spoiler">
        <ul>
        	<li>{{ spoil.author.username }} {{ spoil.date|date("Y/m/d H:i:s") }}</li>
        	<li>{{ spoil.nbComments }}</li>
        </ul>
     </div>
     <div>
     	<ul class="boutons-avis">
     		<li>Spoil <span>{{ spoil.nbSpoil }}</span></li>
            <li>Fail <span>{{ spoil.nbFail }}</span></li>
            <li>Fake <span>{{ spoil.nbFake }}</span></li>
        </ul>    
     </div>	
     <button id="refresh">Me spoiler un manga</button>
    
   </section>

    
	<script type="text/javascript">
		$(function(){
			$('#refresh').click(function(){
				location.reload();
			});
		});
	</script>

{% endblock %}