{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}


	<main class="cd-main-content" id="all-spoils">
		
		<h2>Tous les spoils</h2>

		<section class="cd-gallery">
			
			<ul id="Container">
				{% for spoil in spoils %}
					<li class="mix {{ spoil.manga.category.name|lower }} {{ spoil.manga.name|lower }}">
						<a href="{{ urlBase }}spoil/{{ spoil.slug }}">
							<figure>
								<div class="bloc-image">
									<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}" alt="{{ spoil.title }}">
								</div>
								<figcaption>
									<p class="titre-manga">{{ spoil.manga.name|title }}</p>
									<div class="infos-spoils">
										<p class="nb-spoil" data-icon="8">{{ spoil.nbSpoil }}</p>
										<p class="nb-commentaire" data-icon="x">{{ spoil.nbComments }}</p>
									</div>
									<div style="clear:both;"></div>
									<p class="spoil">{{ spoil.title|truncate(20, true, '...') }}</p>
									<p class="auteur">Par <span class="auteur-important">{{ spoil.author.username }}</span></p>
								</figcaption>
							</figure>
						</a>
					</li>
				{% endfor %}
				<li class="gap"></li>
				<li class="gap"></li>
				<li class="gap"></li>
			</ul>

			<div class="cd-fail-message">Aucun résultat</div>
		</section>
	 
		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4 style="background:url('{{ asset('_assets/imgs/cd-icon-arrow.svg') }}') no-repeat left center">Rechercher</h4>
					<div class="cd-filter-content">
						<input id="search" type="search" placeholder="Tapez votre manga">
					</div>
				</div>

				<div class="cd-filter-block">
					<h4 style="background:url('{{ asset('_assets/imgs/cd-icon-arrow.svg') }}') no-repeat left center">Type de manga</h4>
					<ul class="cd-filter-content cd-filters list">
						{% for category in categories %}
							<li>
								<input class="filter" data-filter=".{{ category.name|lower }}" type="checkbox" id="{{ category.name|lower }}">
								<label class="checkbox-label" for="{{ category.name|lower }}">
									{{ category.name|title }}
								</label>
							</li>
						{% endfor %}
					</ul>
				</div>

			</form>
	 
			<a href="#0" class="cd-close" data-icon="v"></a>
		</div>
	 
		<a href="#0" class="cd-filter-trigger" style="background:url('{{ asset('_assets/imgs/cd-icon-filter.png') }}') no-repeat 10px center #e65354">Filtrer</a>
	</main>

	<script src="{{ asset('_assets/js/content-filter/jquery.mixitup.min.js') }}"></script>
	<script src="{{ asset('_assets/js/content-filter/main.js') }}"></script>
	<script src="{{ asset('_assets/js/content-filter/modernizr.js') }}"></script>

	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script>
		$(function(){
			var list = [
				{% for manga in mangas %}
					'{{ manga.name|title }}',
				{% endfor %}
			];
			$('#search').autocomplete({
				source: list
			});
		});
	</script>

{% endblock %}