{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

<section class="moderation">

	<h1>Modération</h1>

		{% for spoil in pagination %}

		<div>

			<table>
				
				<tr>
					
					<td class="col-1">
						<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}"> 
					</td>

					<td class="col-2">
						<h2>{{ spoil.title }}</h2>
						<p>{{ spoil.slug }}</p>
						<p>Par {{ spoil.author.username }}, le {{ spoil.date|date("Y/m/d H:i:s") }}</p>
					</td>

					<td class="col-3">
						{% if spoil.isPublished == true %}
							Activé
						{% else %}
							Désactivé
						{% endif %}
					</td>

				</tr>

			</table>

		</div>


			<!-- <tr>
				<td>{{ spoil.id }}</td>
				<td><a href="{{ urlBase ~ "spoil/" ~ spoil.slug }}">lien</a></td>
				<td>{{ spoil.manga.id }} / {{ spoil.manga.name }} / {{ spoil.manga.category.name }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					
				</td>
				<td></td>
				<td>{{ spoil.nbComments }}</td>
				<td>{{ spoil.nbSpoil }}</td>
				<td>{{ spoil.nbFail }}</td>
				<td>{{ spoil.nbFake }}</td>
				<td>
					{% if spoil.isPublished == true %}
						Activé
					{% else %}
						Désactivé
					{% endif %}
				</td>
			</tr> -->
		{% endfor %}

	{{ knp_pagination_render(pagination) }}

</section>

{% endblock %}