{% extends 'MeowBundle::layout.html.twig' %}
{% block bodyClass %} id="moderation" {% endblock %}
{% block content %}

<section class="moderation">

	<h1>Modération</h1>

		{% for spoil in pagination %}

		<div>

			<table>
				
				<tr>
					
					<td class="col-1">
						<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}"> 
					</td>

					<td class="col-2">
						<h2>{{ spoil.manga.name }}</h2>
						<p>{{ spoil.title }}</p>
						<p>Par {{ spoil.author.username }}, le {{ spoil.date|date("d F Y")|trans }}</p>
					</td>

					<td class="col-3">
						<p><a href="" class="btn-active {% if spoil.isPublished == true %} active {% endif %}">Activé</a></p>
						<p><a href="" class="btn-inactive {% if spoil.isPublished == false %} active {% endif %}">Desactivé</a></p>
						<!-- <form>
						<label><input type="radio" name="activation" value="active"> Activé</label>
						<label><input type="radio" name="activation" value="inactive"> Désactivé</label>
						</form> -->
					</td>

				</tr>

			</table>

		</div>

		{% endfor %}

	{{ knp_pagination_render(pagination) }}

</section>

{% endblock %}