{% extends 'MeowBundle::layout.html.twig' %}
{% block bodyClass %} id="moderation" {% endblock %}
{% block content %}

<script>
	


</script>

<section class="moderation">

	<h1>Modération</h1>

		{% for spoil in pagination %}

		<div>

			<table>

				<thead>
				
					<tr>
						
						<td class="col-1" >
							<img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}"> 
						</td>

						<td class="col-2">
							<h2>{{ spoil.manga.name }}</h2>
							<p>{{ spoil.title }}</p>
							<p>Par {{ spoil.author.username }}, le {{ spoil.date|date("d F Y")|trans }}</p>
						</td>

						<td class="col-3">
							<a href="#"><p><span class="btn-active {% if spoil.isPublished == true %} active {% endif %}">&nbsp;</span>Activé</p></a>
							<a href="#"><p><span class="btn-inactive {% if spoil.isPublished == false %} active {% endif %}">&nbsp;</span>Desactivé</p></a>
						</td>

					</tr>

				</thead>

			</table>

		</div>

		{% endfor %}

	{{ knp_pagination_render(pagination) }}

</section>

{% endblock %}