{% extends 'MeowBundle::layout.html.twig' %}

{% block bodyClass %}id="profile"{% endblock %}

{% block content %}



<section class="profile">


    <div class="detail-profil">

        <figure>
            <img src="	{% if user.cover is not empty %}
												{{ asset('_assets/imgs/users/' ~ user.cover) }}
											{% else %}								
												{{ asset('_assets/imgs/users/profil-default.jpg') }}
											{% endif %}" alt="Profil de {{ user.username }}"/>
							


       	 	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
       	 	<i data-icon="t"></i>
       	 	<label for="changer-photo" class="changer-photo">Changer de photo</label>
       	 	<input type="file" name="img" value="Modifier" id="changer-photo" style="display: none">
       	 	{% endif %}
        </figure>
       
       <ul>
       	  	<li data-icon="1">{{ user.username }}</li>

       	  	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
     	  	<li><i class="icon-mail" data-icon="s"></i>{{ user.email }} <i class="changer-mail" data-icon="T"></i></li>{% else %}
			<li>{{ user.email }}</li>
			{% endif %}
     	  	<li>Score : {% set score = 0 %}
				{% for spoil in pagination %}
				{% set score = score + spoil.nbSpoil %}
				{% endfor %}
				{{ score }}
		  	</li>
		  	
 
		  	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
		  	<li>Changer de mot de passe  <i class="changer-pass" data-icon="T"></i>    
			
				<div class="boite-pass">
				  	<input type="password" placeholder="Nouveau mot de passe" required="required" name="" id="">
				   	<input type="password" placeholder="Confirmation" required="required" name="" id="">
				    <input type="submit" name="_submit" id="_submit" value="Valider">
			     </div>
			</li>
			{% endif %}
	    </ul>

    </div>	<!-- END DETAIL PROFIL -->

		
			
			
    <ul id="Container">	 

    {% if pagination is not empty %}
    <div class="cd-gallery">
    	<h2>Spoils postés</h2>
    	<ul id="Container">
 
    {% for spoil in pagination %}
         
            <li class="">
			  	<a href="{{ urlBase }}spoil/{{ spoil.slug }}">
				  	<figure>
						<div class="bloc-image">
						   <img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}" alt="{{ spoil.title }}">
						</div>
					   <figcaption>
					     <p class="titre-manga">{{ spoil.manga.name|title }}</p>
							<div class="infos-spoils">
							  <p class="nb-spoil" data-icon="8">{{ spoil.nbSpoil }}</p>
							  <p class="nb-commentaire" data-icon="x">{{ spoil.nbComments }}</p>
							</div>
							<div style="clear:both;"></div>
							  <p class="spoil">{{ spoil.title }}</p>
							  <p class="auteur">Par <span class="auteur-important">{{ spoil.author.username }}</span></p>
						</figcaption>
				   </figure>
			    </a>
			</li>

      
     {% endfor %}

		</ul>
	</div> {# END CD-GALLERY #}


{% else %}

<p>Aucun spoil posté.</p>



{% endif %}

{{ knp_pagination_render(pagination) }}

<script>
	
	


	$(function() {
	$('.changer-pass').click(function() {
	$('.boite-pass').fadeToggle(100);
	
	});
});

</script>

</section>

{% endblock %}



