{% extends 'MeowBundle::layout.html.twig' %}

{% block bodyId %}profile{% endblock %}

{% block content %}
	<section class="profile">

		<div class="detail-profil">
			<div class="container" id="crop-avatar">

				<div class="modale-shadow"></div>
				<figure class="avatar-view">
					<img src="	{%- if user.cover is not empty -%}
									{{ asset('_assets/imgs/users/' ~ user.cover) }}
								{%- else -%}								
									{{ asset('_assets/imgs/users/profil-default.jpg') }}
								{%- endif -%}"
					alt="Profil de {{ user.username }}" />

					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
						<i data-icon="t"></i>
						<label type="button" data-modale="avatar-modal" class="btn changer-photo">Changer de photo</label>
					{% endif %}
				</figure>

				<div class="modal-photo" id="avatar-modal" data-open="false">
					<form class="avatar-form" action="{{ path('change-cover-user') }}" enctype="multipart/form-data" method="POST">
						<header>
							<button class="btn-close" data-close="modale" type="button">&times;</button>
							<h2>Modifier sa photo profil</h2>
						</header>
						<main>
							<div class="avatar-corp">

								<div class="avatar-upload">
									{{ form_widget(formCover.file, { 'attr': {'type': 'file', 'class': 'avatar-input'}}) }}
									<label for="user_form_file">Choisissez un fichier</label>
								</div>
							 
								<div class="avatar-wrapper">
									<img src="	{%- if user.cover is not empty -%}
													{{ asset('_assets/imgs/users/' ~ user.cover) }}
												{%- else -%}								
													{{ asset('_assets/imgs/users/profil-default.jpg') }}
												{%- endif -%}" 
									id="apercu" />
								</div>
								<p class="cover-error"></p>
								<button class="avatar-save button" type="submit">Valider</button>
								<div style="clear:both"></div>
							</div>
						</main>
					</form>
				</div>

		   
			   <ul>
					<li data-icon="1">{{ user.username }}</li>
					<li>
						<i class="icon-mail" data-icon="s"></i>{{ user.email }}
					</li>
					
					<li>Score : {% set score = 0 %}
						{% for spoil in pagination %}
							{% set score = score + spoil.nbSpoil %}
						{% endfor %}
						{{ score }}
					</li>

					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
						<li>Changer de mot de passe <i class="changer-pass" data-icon="T"></i>
							<form action="{{ path('fos_user_change_password') }}" method="post" class="fos_user_change_password">
								<div class="boite-pass">
									{{ form_widget(form.current_password, { 'attr': {'placeholder': 'Ancien mot de passe', 'size': '30'} }) }}
									{{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Nouveau mot de passe', 'size': '30'} }) }}
									{{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Confirmation mot de passe', 'size': '30'} }) }}
									{{ form_rest(form) }}
									<input type="submit" name="_submit" id="_submit" value="Valider">
								</div>
							</form>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>

		<ul id="Container">	 

		{% if pagination is not empty %}
			<div class="cd-gallery">
				<h2>Spoils postés</h2>
				<ul id="Container">
		 
					{% for spoil in pagination %}
					 
						<li class="">
							<a href="{{ urlBase }}spoil/{{ spoil.slug }}">
								<figure>
									<div class="bloc-image">
									   <img src="{{ asset('_assets/imgs/spoils/' ~ spoil.cover) }}" alt="{{ spoil.title }}">
									</div>
									<figcaption>
										<p class="titre-manga">{{ spoil.manga.name|title|truncate(14, true, '...') }}</p>
										<div class="infos-spoils">
											<p class="nb-spoil" data-icon="8">{{ spoil.nbSpoil }}</p>
											<p class="nb-commentaire" data-icon="x">{{ spoil.nbComments }}</p>
										</div>
										<div style="clear:both;"></div>
										<p class="spoil">{{ spoil.title|truncate(30, true, '...') }}</p>
										<p class="auteur">Par <span class="auteur-important">{{ spoil.author.username }}</span></p>
									</figcaption>
							   </figure>
							</a>
						</li>

					{% endfor %}
				</ul>
			</div>
		{% else %}

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

				<div class="spoil-none">
					<p>Vous n'avez posté aucun spoil. Afin d'agrandir notre bibliothèque de spoil n'hésitez pas a en ajouter.</p>
					<a href="#modal-one" class="btn-profile">Poster votre spoil</a>
				</div>

			{% else %}

				<div class="spoil-none">
					<p>Cet utilisateur n'a posté aucun spoil.</p>
				</div>

			{% endif %}
		{% endif %}

		{{ knp_pagination_render(pagination) }}
	</section>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(function(){
			$('.changer-pass').click(function(){
				$('.boite-pass').fadeToggle(100);
			});
			$('.changer-mail').click(function(){
				$('.boite-mail').fadeToggle(100);
			});
			init();
			function init(){
				center('.modal-photo');
				modale();
			}
			function center(el){
				var mH  = $(el).height(),
					mW  = $(el).width();
				$(el).css({'margin-left':-mW/2,'margin-top':-mH/2});
			}
			function modale(){
				$('[data-modale]').click(function(){
					var modale = "#"+$(this).attr('data-modale');
					$('.modale-shadow').fadeIn();
					$(modale).stop().animate({'top':'47%','opacity':1},200).attr('data-open',true);
				});
				$('.modal-photo [data-close="modale"],.modale-shadow').click(function(){
					$('.modale-shadow').fadeOut();
					$('.modal-photo[data-open="true"]').stop().animate({'top':'-100%','opacity':1},200).attr('data-open',false);
				});
			}
			function readImage(file) {
				var reader = new FileReader(),
					image  = new Image();
				reader.readAsDataURL(file);  
				reader.onload = function(_file) {
					image.src    = _file.target.result;
					image.onload = function() {
						$('#apercu').attr('src', this.src);
					};   
				};
			}
			$('.avatar-input').submit(function(){
				if($('.cover-error').text() != ''){
					return false;
				}
			});
			$('.avatar-input').change(function(){
				var F = this.files;
				if(F && F[0]) for(var i=0; i<F.length; i++) readImage( F[i] );

				var fileSize = this.files[0].size,
					ext = $('.avatar-input').val().split('.').pop().toLowerCase();

				if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
					$('.cover-error').text('L\'extension du fichier n\'est pas bonne.');
				}else if(fileSize >= 600000){
					$('.cover-error').text('L\'image est trop lourde.');
				}else{
					$('.cover-error').text('');
				}
			}
		});
	</script>
{% endblock %}