{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}



	<section class="profile">

	
         <div>

           <figure>
           	  <img src="{{ asset('_assets/imgs/users/' ~ user.cover) }}" alt="">
           </figure>
           
           <ul>
           	  <li data-icon="1">{{ user.username }}</li>
         	  <li>{{ user.email }}</li>
         	  <li>Score : {% set score = 0 %}
				{% for spoil in pagination %}
					{% set score = score + spoil.nbSpoil %}
				{% endfor %}
				{{ score }}
			  </li>
			  <li>Changer de mot de passe     
				
				<label for="username">
				  <input type="text" size="30" placeholder="Nouveau mot de passe" required="required" name="" id="">
				</label>
			    <label for="password">
				   <input type="password" size="30" placeholder="Confirmation" required="required" name="" id="">
				</label>
			    <input type="submit" name="_submit" id="_submit" value="Valider">
			  </li>
		    </ul>

         </div>	

		
			
			
			
			
			<!-- <td>
				{% if user.roles == true %}
					Oui
				{% else %}
					Non
				{% endif %}
			</td> -->
		

	<h2>Spoils postés</h2>

	{% if pagination is not empty %}
		<table>
			<tr>
				<th>Id</th>
				<th>Lien</th>
				<th>Id / nom / catégorie manga</th>
				<th>Id / pseudo auteur</th>
				<th>Titre</th>
				<th>Slug</th>
				<th>Url image</th>
				<th>Date et heure</th>
				<th>Nombre de commentaires</th>
				<th>Nombre de spoils</th>
				<th>Nombre de fails</th>
				<th>Nombre de fakes</th>
				<th>Publié</th>
			</tr>
			{% for spoil in pagination %}
				<tr>
					<td>{{ spoil.id }}</td>
					<td><a href="{{ urlBase ~ "spoil/" ~ spoil.slug }}">lien</a></td>
					<td>{{ spoil.manga.id }} / {{ spoil.manga.name }} / {{ spoil.manga.category.name }}</td>
					<td>{{ spoil.author.id }} / {{ spoil.author.username }}</td>
					<td>{{ spoil.title }}</td>
					<td>{{ spoil.slug }}</td>
					<td>
						{% if spoil.cover is not empty %}
							{{ spoil.cover }}
						{% else %}
							placeholder.jpg
						{% endif %}
					</td>
					<td>{{ spoil.date|date("Y/m/d H:i:s") }}</td>
					<td>{{ spoil.nbComments }}</td>
					<td>{{ spoil.nbSpoil }}</td>
					<td>{{ spoil.nbFail }}</td>
					<td>{{ spoil.nbFake }}</td>
					<td>
						{% if spoil.isPublished == true %}
							Oui
						{% else %}
							Non
						{% endif %}
					</td>
				</tr>


			{% endfor %}
		</table>

    

    
		{{ knp_pagination_render(pagination) }}

	{% else %}
		<p>Aucun spoil posté.</p>
	{% endif %}
 </section>
{% endblock %}