{% trans_default_domain 'FOSUserBundle' %}

<section class="connexion inscription">
	<h1>Modification du mot de passe</h1>
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		<ul>
			<li>
			    {{ form_widget(form.current_password, { 'attr': {'placeholder': 'Ancien mot de passe', 'size': '30'} }) }}
			</li>
			<li>
				{{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Nouveau mot de passe', 'size': '30'} }) }}
			</li>
			<li>
				{{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Confirmation mot de passe', 'size': '30'} }) }}
			</li>
			{{ form_rest(form) }}
			{% if form_errors(form.current_password) %}
			    <p class="connexion-error">{{ form_errors(form.current_password) }}</p>
			{% endif %}
			{% if form_errors(form.plainPassword.first) %}
			    <p class="connexion-error">{{ form_errors(form.plainPassword.first) }}</p>
			{% endif %}
		    <li>
		        <input type="submit" value="Valider" />
		    </li>
		</ul>
	</form>
