<meta charset="UTF-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="Agence Meow">
<meta name="copyright" content="Nyan Spoil">
<meta name="keywords" lang="fr" content="nyan, manga, spoil">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">

<!-- STYLES -->
<link rel="stylesheet" href="{{ asset('_assets/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('_assets/css/siham.css') }}">
<link rel="stylesheet" href="{{ asset('_assets/css/normalize.css') }}">
<link rel="stylesheet" href="{{ asset('_assets/css/all-spoils.css') }}">
<link rel="stylesheet" href="{{ asset('_assets/css/article.css') }}">

<!-- SCRIPTS -->
<script src="{{ asset('_assets/js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ asset('_assets/js/menu-burger.js') }}"></script>
<script>
	
	function popup() {
		window.open('popup.html.twig', 'height=100, width=400, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
	}

</script>

<!-- FAVICON -->
<link rel="icon" type="image/x-icon" href="{{ asset('_assets/imgs/favicon.ico') }}">
