<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ urlBase }}">Nyan spoil</a>
		</div>
		<ul class="nav nav-pills">
			<li role="presentation" class="nav-meow"
				{% if currentUrl == urlBase %} class="active"{% endif %}
			><a href="{{ urlBase }}">Accueil</a></li>
			<li role="presentation" class="nav-meow"
				{% if currentUrl == urlBase ~ "all-spoils/" %} class="active"{% endif %}
			><a href="{{ urlBase }}all-spoils/">Tous les spoils</a></li>
			<li role="presentation" class="nav-meow"
				{% if currentUrl == urlBase ~ "new/" %} class="active"{% endif %}
			><a href="{{ urlBase }}new/">Ajouter un spoil</a></li>
			<li role="presentation" class="btn-meow1"
				{% if currentUrl == urlBase ~ "connexion/" %} class="active"{% endif %}
			><a href="{{ urlBase }}connexion/">Se connecter</a></li>
			<li role="presentation" class="btn-meow2"
				{% if currentUrl == urlBase ~ "inscription/" %} class="active"{% endif %}
			><a href="{{ urlBase }}inscription/">S'inscrire</a></li>
		</ul>
	</div>
</nav>