<nav class="navbar">
	<div>
		<div>
			<h1><a class="navbar-brand" href="{{ urlBase }}"><img src="{{ asset('_assets/imgs/logo.png') }}" alt="Logo Nyan Cat"></a></h1>
		</div>
		<ul class="nav">
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase %}active{% endif %}">
				<a href="{{ urlBase }}">Accueil</a>
			</li>
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase ~ "all-spoils/" %}active{% endif %}">
				<a href="{{ urlBase }}all-spoils/">Tous les spoils</a>
			</li>
			<li role="presentation" class="nav-meow">
				<a href="#">Ajouter un spoil</a>
			</li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				test
			{% else %}
				<li role="presentation" class="btn-meow1 {% if currentUrl == urlBase ~ "connexion/" %}active{% endif %}">
					<a href="{{ urlBase }}connexion/">Se connecter</a>
				</li>
				<li role="presentation" class="btn-meow2 {% if currentUrl == urlBase ~ "inscription/" %}active{% endif %}">
					<a href="{{ urlBase }}inscription/">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>