<nav class="navbar">
	<div>
		<div>
			<h1><a class="navbar-brand" href="{{ urlBase }}"><img src="{{ asset('_assets/imgs/logo.svg') }}" alt="Logo Nyan Cat"></a></h1>
		</div>

		<div class="btn-burger">
			<a href="javascript:void(0);" id="burger"><img src="{{ asset('_assets/imgs/menu-burger.png') }}" alt="Burger menu"/></a>
			<a href="javascript:void(0);" id="croix" data-icon="v"></a>
        </div>

		<ul class="nav">
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase %}active{% endif %}">
				<a href="{{ urlBase }}">Accueil</a>
			</li>
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase ~ "all-spoils/" %}active{% endif %}">
				<a href="{{ urlBase }}all-spoils/">Tous les spoils</a>
			</li>
			<li role="presentation" class="nav-meow">
				<a href="#modal-one" class="btn btn-big">Ajouter un spoil</a>
			</li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				
			<li class="user"><p>{{ app.user.username }}</p></li>
			<li class="image-profil">
				<figure>
					{% if app.user.cover is not empty %}
						{% set coverUser = app.user.cover %}
					{% else %}
						{% set coverUser = 'profil-default.jpg' %}
					{% endif %}
					<img src="{{ asset('_assets/imgs/users/' ~ coverUser) }}">
				</figure>
			</li>
				
			<div class="boite-menu hidden">	
				<img src="{% if is_granted("ROLE_ADMIN") %}{{ asset('_assets/imgs/chat-admin.svg') }}{% else %}{{ asset('_assets/imgs/chat-user.svg') }}{% endif %}">
				<ul class="boite-sous-menu">
					<li class="item-menu">
						<a href="{{ urlBase }}profile/{{ app.user.username|lower }}">Voir mon profil</a>
					{% if is_granted("ROLE_ADMIN") %}
						<li class="item-menu" >
							<a href="{{ urlBase }}admin/moderation/">Modérer</a>
						</li>
					{% endif %}
					<li class="item-menu">
						<a href="{{ urlBase }}logout">Se déconnecter</a>
					</li>
				</ul>
				<div class="arrow-boite"></div>
			</div>

			
				
			
				
			{% else %}
				<li role="presentation" class="btn-meow1 {% if currentUrl == urlBase ~ "connexion/" %}active{% endif %}">
					<a href="{{ urlBase }}login" data-icon="y">Se connecter</a>
				</li>
				<li role="presentation" class="btn-meow2 {% if currentUrl == urlBase ~ "inscription/" %}active{% endif %}">
					<a href="{{ urlBase }}register" data-icon="0">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

<script src="{{ asset('_assets/js/menu-profil.js') }}"></script>


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<script>
	
		// On attend que la page soit chargée 
	jQuery(document).ready(function()
	{
	   // On cache la zone de texte
	   jQuery('#toggle').hide();
	   // toggle() lorsque le lien avec l'ID #toggler est cliqué
	   jQuery('a#plus').click(function()
	  {
	      jQuery('#toggle').toggle(400);
	      return false;
	   });
	});

</script>



<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
  <div class="modal-dialog" style="top:10%;">
    <div class="modal-header">
      <h2>Ajouter un spoil</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-body2">

    	<ul class="rules">
    		<li>Rappel du concept : Choisissez d'envoyer un vrai spoil ou un faux spoil.</li>
    		<li>Le spoil doit contenir une phrase et une image.</li>
    		<li>Si le manga choisi n'existe pas, vous pouvez l'ajouter en cliquant sur le +.</li>
    		<li>Tout envoi en langage SMS ou comportant trop de fautes d'orthographes sera refusé.</li>
    	</ul>

		<section class="ajout">
		<form action="" method="post">
			<ul>
				<li>
				    <input type="text" id="search" name="manga" placeholder="Nom du manga" /><a id="plus" href="#">+</a>
			    </li>
			    <div id="toggle">
					<li>
					    <select name="type" id="type" placeholder="Type de manga">
					       <option value="0" disabled selected>Type de manga</option>
					       {% for category in categories %}
					           <option value="{{ category.id }}">{{ category.name|title }}</option>
				           {% endfor %}
	       				</select>
	       				<button class="amanga">Ajouter le manga</button>
	       				<p id="error_addManga"></p>
				    </li>
			    </div>
			    <li class="file">
			    	<input type="hidden" name="MAX_FILE_SIZE" value="" />
    				<input id="file" type="file" name="mon_fichier" id="mon_fichier" />
    				<label>Ajoutez une photo</label>
    			</li>
    			<li>
			    	<textarea name="spoil" id="spoil" placeholder="Ecrivez votre spoil"></textarea>
			    </li>
				<li>
			    	<input type="submit" id="_submit" name="_submit" value="Ajouter" />
			    </li>

			    <div style="clear:both;"></div>
		    </ul>
		</form>
		</section>
    </div>
    </div>
  </div>
</div>


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
	$(function(){
		var list = [
			{% for manga in mangas %}
				'{{ manga.name|title }}',
			{% endfor %}
		];
		$('#search').autocomplete({
			source: list
		});
		$('#search').keyup(function(){
			if($.inArray($('#search').val(),list) !== -1){
				$('#plus').hide();
				$('#toggle').hide(400);
	      		return false;
			}else{
				$('#plus').show();
			}
		});
		$('.ui-autocomplete').click(function(){
			$('#plus').hide();
			$('#toggle').hide(400);
      		return false;
		});
		$('.amanga').click(function(e){
			e.preventDefault();
	        if($('#search').val() != '' && $('#type option:selected').val() != 0){
		        $.post('{{ path("add-manga") }}',{
		                name: 	$('#search').val(),
		                id: 	$('#type option:selected').val()
		            },
		            function(data){
		            	list = [];
		            	for (var i in data.mangas) {
		            		list[i] = data.mangas[i].name;
		            	}
		            	$('#search').autocomplete({
							source: list
						});
		                $('#search').attr('disabled', 'disabled');
		                $('#plus').hide();
						$('#toggle').hide(400);
			      		return false;
		            }
		        );
		    }else{
		    	$('#error_addManga').text('Veuillez renseigner le nom et la catégorie de votre manga.');
		    	return false;
		    }
	    });
	});
</script>

{% else %}
<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
  <div class="modal-dialog" style="top:20%;">
    <div class="modal-header">
      <h2>Se connecter</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-body">

    	<p class="imp">Connectez-vous pour poster un spoil ou un commentaire</p>

		<section class="connexion connexion2" >
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<ul>
				<li>
				    <label for="username"><i data-icon="7"></i></label>
				    <input type="text" id="username" name="_username" required="required"  placeholder="Pseudo" size="30" />
			    </li>
				<li>
				    <label for="password"><i data-icon="r"></i></label>
				    <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" size="30" />
			    </li>
				<li>
			    	<input type="submit" id="_submit" name="_submit" value="Connexion" />
			    </li>
		    </ul>
		</form>
		</section>
		<p>Nouveau sur Nyan Spoil ? <a href="{{ urlBase }}register" class="register">Inscrivez-vous !</a></p>
    </div>
    </div>
  </div>
</div>
{% endif %}
<!-- /Modal -->
