<nav class="navbar">
	<div>
		<div>
			<h1><a class="navbar-brand" href="{{ urlBase }}"><img src="{{ asset('_assets/imgs/logo.svg') }}" alt="Logo Nyan Cat"></a></h1>
		</div>

		<div class="btn-burger">
			<a href="javascript:void(0);" id="burger"><img src="{{ asset('_assets/imgs/menu-burger.png') }}" alt="Burger menu"/></a>
			<a href="javascript:void(0);" id="croix" data-icon="v"></a>
        </div>

		<ul class="nav">
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase %}active{% endif %}">
				<a href="{{ urlBase }}">Accueil</a>
			</li>
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase ~ "all-spoils/" %}active{% endif %}">
				<a href="{{ urlBase }}all-spoils/">Tous les spoils</a>
			</li>
			<li role="presentation" class="nav-meow">
				<a href="#" onclick="javascript:popup()">Ajouter un spoil</a>
			</li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				test
			{% else %}
				<li role="presentation" class="btn-meow1 {% if currentUrl == urlBase ~ "connexion/" %}active{% endif %}">
					<a href="{{ urlBase }}connexion/" data-icon="y">Se connecter</a>
				</li>
				<li role="presentation" class="btn-meow2 {% if currentUrl == urlBase ~ "inscription/" %}active{% endif %}">
					<a href="{{ urlBase }}inscription/" data-icon="0">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>