<nav class="navbar">
	<div>
		<div>
			<h1><a class="navbar-brand" href="{{ urlBase }}"><img src="{{ asset('_assets/imgs/logo.svg') }}" alt="Logo Nyan Cat"></a></h1>
		</div>

		<div class="btn-burger">
			<a href="javascript:void(0);" id="burger"><img src="{{ asset('_assets/imgs/menu-burger.png') }}" alt="Burger menu"/></a>
			<a href="javascript:void(0);" id="croix" data-icon="v"></a>
        </div>

		<ul class="nav">
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase %}active{% endif %}">
				<a href="{{ urlBase }}">Accueil</a>
			</li>
			<li role="presentation" class="nav-meow {% if currentUrl == urlBase ~ "all-spoils/" %}active{% endif %}">
				<a href="{{ urlBase }}all-spoils/">Tous les spoils</a>
			</li>
			<li role="presentation" class="nav-meow">
				<a href="#modal-one" class="btn btn-big">Ajouter un spoil</a>
			</li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div>
					<h2>{{ app.user.username }}</h2>
					<figure>
						{% if app.user.cover is not empty %}
							{% set coverUser = app.user.cover %}
						{% else %}
							{% set coverUser = 'placeholder.svg' %}
						{% endif %}
						<img src="{{ asset('_assets/imgs/users/' ~ coverUser) }}">
						<figcaption>
							<img src="{% if app.user.roles == true %}{{ asset('_assets/imgs/admin.svg') }}{% else %}{{ asset('_assets/imgs/user.svg') }}{% endif %}">
							<ul>
								<li role="presentation">
									<a href="{{ urlBase }}profile/{{ app.user.username|lower }}">Voir mon profil</a>
								</li>
								{% if app.user.roles == true %}
									<li role="presentation">
										<a href="{{ urlBase }}moderation/">Modérer</a>
									</li>
								{% endif %}
								<li role="presentation">
									<a href="{{ urlBase }}logout">Se déconnecter</a>
								</li>
							</ul>
						</figcaption>
					</figure>
				</div>
			{% else %}
				<li role="presentation" class="btn-meow1 {% if currentUrl == urlBase ~ "connexion/" %}active{% endif %}">
					<a href="{{ urlBase }}login" data-icon="y">Se connecter</a>
				</li>
				<li role="presentation" class="btn-meow2 {% if currentUrl == urlBase ~ "inscription/" %}active{% endif %}">
					<a href="{{ urlBase }}register" data-icon="0">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2 data-icon="m">Ajouter un spoil</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-body">

    	<p class="imp">Connectez-vous pour poster un spoil</p>

		<section class="connexion connexion2" >
		<form action="{{ path("fos_user_security_check") }}" method="post">
			<ul>
				<li>
				    <label for="username"><i data-icon="7"></i></label>
				    <input type="text" id="username" name="_username" required="required"  placeholder="Pseudo" size="30" />
			    </li>
				<li>
				    <label for="password"><i data-icon="r"></i></label>
				    <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" size="30" />
			    </li>
				<li>
			    	<input type="submit" id="_submit" name="_submit" value="Connexion" />
			    </li>
		    </ul>
		</form>
		</section>
		<p>Nouveau sur Nyan Spoil ? <a href="{{ urlBase }}inscription/">Inscrivez-vous!»</a></p>
    </div>
    </div>
  </div>
</div>
<!-- /Modal -->
